{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8050021-108-hero.jpg" cegTitle="Best Shoes For Pregnancy"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Best Shoes for Pregnancy</h1>
            <p>What are the best shoes for pregnancy? The best shoes for pregnancy provide comfort, arch support and stability. Due to weight gained during your pregnancy, extra pressure is placed on the joints and feet. Swelling will occur in the feet, so moms-to-be may want to consider going a half to a full size up when purchasing shoes. You’ll find the perfect shoes that are chic and comfy from your favorite brands, like MICHAEL Michael Kors, Lucky Brand and Aerosoles, at Macy's.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Are the Best Shoes for Pregnant Women?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-110-02.jpg" alt="What Are the Best Shoes for Pregnant Women?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li><strong>Slip-On Shoes:</strong> Bending over to fasten shoes with closures with a growing bump will pose its challenges. Slip-on shoes will definitely make life easier while you are expecting.</li>
            	<li><strong>Add Insoles:</strong> To increase the arch support and comfort of your shoes, you may want to place an insole inside your shoes, especially flats.</li>
            	<li><strong>Rubber Soles:</strong> Get shoes with rubber soles to provide good shock absorption to alleviate joint and feet discomfort. Also, rubber soles have better grips to prevent against slip and falls.</li>
            	<li><strong>Low Heels:</strong> Shoes with a low heel offer more arch support than flats.  For increased stability, look for heels with a wider base that are no more than 2 inches high.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Are the Best Flats for Pregnant Women?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-110-03.jpg" alt="What Are the Best Flats for Pregnant Women?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li><strong>Ballet Flats:</strong> Lend a classic finish to your casual look with ballet flats. Pair them with jeans or dresses to infuse a refined feel to your outfit. Get multiple pairs of ballet flats in neutrals, metallics and prints from your fave brands, like MICHAEL Michael Kors, Lucky Brand & Alfani.</li>
            	<li><strong>Comfort Flats:</strong> Comfort is guaranteed from brands like Naturalizer, Aerosoles and Clarks&ndash;and you won’t have to sacrifice on style. Get noticed in metallic and printed pairs.</li>
            	<li><strong>Espadrilles:</strong> Looking for shoes that are super-cute and comfy? Espadrilles are totally trending. Capture styles that feature graphic prints, bows, ruffles, metallics and pom-poms to make a stylish splash during your pregnancy. Check out the latest espadrilles from Circus by Sam Edelman, Steve Madden and MICHAEL Michael Kors.</li>
            	<li><strong>Loafers & Moccasins:</strong> Slip into polished, casual style with loafers and moccasins. Pair them with maternity jeans to keep things casual or team them with trousers for office-ready style. Want a stylish finish? Look for loafers and moccasins with hardware, tassels, pom-poms and bows.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Are the Best Low Wedges (2” & Under) for Pregnant Women?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-110-04.jpg" alt="What Are the Best Low Wedges (2” & Under) for Pregnant Women?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li><strong>Pumps:</strong> Are you looking to promote your work wardrobe? Pair your office outfits with pumps featuring a low wedge during your pregnancy. Highlighted by better weight distribution, wedges will provide more stability and comfort than typical heels.</li>
            	<li><strong>Sandals:</strong> </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Are the Best Sneakers for Pregnant Women?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-110-05.jpg" alt="What Are the Best Sneakers for Pregnant Women?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li><strong>Slip-On Sneakers:</strong> Bending over to tie your shoelaces will be challenge while you're expecting. Slip-on sneakers are both practical and trending. They will provide the comfort and arch support you need without sacrificing on style. Look for on-trend styles with bows, graphics, metallic and prints from brands, like INC International Concepts, MICHAEL Kors and Steve Madden! And when you’re working out slide into slip-on athletic sneakers from Sketchers, Ideology and Puma.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What are the Best Boots for Pregnant Women?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-7 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-110-06.jpg" alt="What are the Best Boots for Pregnant Women?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li><strong>Block Heel Boots:</strong> Providing more stability, block heeled boots a perfect choice during your pregnancy. Remember to keep your block heels under two inches for a more comfortable feel. Link them up with a your maternity jeans for great casual style.</li>
            	<li><strong>Booties:</strong> Accommodating for swollen feet and ankles, booties are a practical and stylish choice to sport during colder months. For trend-right appeal, check out moto and western styles from brands like Style & Co, Lucky Brand and Carlos by Carlos Santana.</li>
            	<li><strong>Riding Boots:</strong> Although riding boots are flat and generally comfortable, they may pose a bit of challenge for swollen feet and ankles. You may only be able to wear riding boots at the earlier stages of your pregnancy. Look for wide-calf riding boots available from your favorite brands, like INC International Concepts, Style & Co and Karen Scott.</li>
            </ul>
        </div>
    </div>
</div>
	{{> mightAlso }}

<script src="../{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="../{{version}}/js/maternity-clothing-guide.app.js"></script>