<div class="row dining-header">

<div class="header-top-row">
<!-- breadcrumbs -->	
    <div class="ceg-breadcrumbs">
        <a href="/">Macy&rsquo;s</a>
        / <a href="/ce/guides/index">Ideas &amp; Inspiration</a>
        / <a class="ceg-crumb-root" href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/">Maternity Clothing Guide</a>
<!-- CREATE HBS VARIABLE FOR BREADCRUMB TITLE -->
        <span>/ <strong>{{cegTitle}}</strong></span>
    </div>
<!-- SHARE -->
	<div class="small-centered large-uncentered">
        <ul class="ceg-share-icons">
            <li>
                <a rel="nofollow" href="https://emails.macys.com/pub/sf/FormLink?_ri_=X0Gzc2X%3DYQpglLjHJlTQGklvYozdb7iNnCchwzcmSHB1aFsR4wmw42i9031gzgR17fkVXMtX%3DYQpglLjHJlTQGluqYT20HgpEbdqfJ9TMeh4zcP7XvHfn7eMB7zc6mC8ePbVXyjLNpLOfhKLX%3D&_ei_=EhDNv86fYm3RMqM7NyyF_i11gJBXJwi16kHoJB_USw96bgJ_7GdziSw" target="_blank">
                    <img src="//assets.macysassets.com/dyn_img/creativepages/q8010003_email.svg" alt=" Sign up for Emails & get 25% off">
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.facebook.com/Macys/" target="_blank">
                    <img src="//assets.macysassets.com/dyn_img/creativepages/q8010003_facebook.svg" alt="facebook">
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://twitter.com/macys" target="_blank">
                    <img src="//assets.macysassets.com/dyn_img/creativepages/q8010003_twitter.svg" alt="twitter">
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.pinterest.com/macys/" target="_blank">
                    <img src="//assets.macysassets.com/dyn_img/creativepages/q8010003_pinterest.svg" alt="pinterest">
                </a>
            </li>
        </ul>
	</div>	
</div>
<!-- MENU PARTIAL  -->
{{> menu }}
<div class="ceg-hero ce-mobile-full ce-mobile-collapse">
	<div>
        <img src="//assets.macysassets.com/dyn_img/creativepages/{{cegHero}}" alt="">
    </div>
</div>
</div>




